h1 {
    color: brown;
}

.headingpart{
    background-color: blueviolet;
    display:flex;
    justify-content: space-between
}

.images{
    display:flex;
    justify-content: space-evenly;
    flex-wrap:  wrap 
}

.pics{
    display:flex;
    justify-content: flex-end
}